body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.switch {
  width: 60px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.switch.on {
  background-color: rgba(92, 34, 34, 0.134);
}
